h1, h4 {
  font-family: "Georgia";
    font-style: italic;
}

.header {
  margin-left: 20px;
}

p {
  font-family: "Georgia";
  font-size: 16px;
}

.topline{
  margin-top: 0px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.line{
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
}

.header {
  font-size: 13px;
  font-family: "Georgia serif";
}

.attribution {
  font-size: 11px;
  font-family: "Georgia serif";
}
